/*Calendar&Schedule page css start*/
#app{
	overflow: hidden;
	position: relative;
}
.holder{
	max-width: $mainHolderWidth;
	margin: 0 auto;
	@include clearfix();
}
section{
	position: relative;
	h1{
		color: $whiteColor;
		@include font(40px, 50px);
		background-color: transparentize($themeColorDark, 0.2);
		text-align: center;
		padding: 10px;
	}
	.heading{
		padding: 0 0 20px;
		h2{
			@include font(30px, 38px);
			font-weight: bold;
			margin: 0 0 20px;
		}
		p{
			@include font(20px, 28px);
		}
		&.heading-light{
			h2{
				color: $whiteColor;
				text-shadow: 0 -25px 2px transparentize($whiteColor, 0.95);
			}
			p{
				color: $whiteColor;
			}
		}
		&.heading-dark{
			h2{
				color: $themeColorDark;
				text-shadow: 0 -25px 2px transparentize($themeColorDark, 0.95);
			}
			p{
				color: $themeColorDark;
			}
		}
	}
}
.section-position{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	.section-table{
		display: table;
		height: 100%;
		width: 100%;
	}
	.section-table-cell{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	.section-table-data{
		max-width: 1440px;
		border-radius: 5px;
		padding: 50px 30px;
		margin: 0 auto;
		&.with-bg{
			box-shadow: 0 5px 20px transparentize($blackColor, 0.9);
			background-color: transparentize($themeColorDark, 0.2);
		}
		h2{
			color: $whiteColor;
			@include font(48px, 60px);
			font-weight: bold;
			margin: 0 0 20px;
		}
		p{
			color: #D3D3D3;
			@include font(16px, 24px);
		}
	}
}
#side-navigation{
	background-color: transparentize($whiteColor, 0.2);
	box-shadow: 0 5px 20px transparentize($blackColor, 0.9);
	border-radius: 20px;
	padding: 5px 10px;
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 9;
	transform: translateY(-50%);
	nav{
		li{
			margin: 7px 0;
		}
		a{
			display: block;
			background-color: transparentize($themeColorDark, 0.2);
			font-size: 0;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			cursor: pointer;
			padding: 5px;
			@include anim(0.2s);
			&:hover{
				transform: scale(1.2);
				background-color: $whiteColor;
				box-shadow: 0 1px 5px transparentize($blackColor, 0.8);
			}
			&.active{
				transform: scale(1.2);
				background-color: $whiteColor;
				box-shadow: 0 1px 5px transparentize($blackColor, 0.8);
				&:hover{
					transform: scale(1.2);
					background-color: $whiteColor;
				}
			}
		}
	}
}
.error-section{
	min-height: 800px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 65px 0;
	z-index: 0;
}
.banner-section{
	min-height: 600px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 65px 0;
	z-index: 0;
}
.product-section{
	.heading{
		text-align: center;
	}
}
.category-section{
	background: $whiteColor;
	padding: 20px 0;
	ul{
		li{
			@include display(inline-block, top);
			width: 25%;
			padding: 0 16px;
		}
		a{
			display: block;
			position: relative;
			color: $baseFontColorDark2;
			border-bottom: 1px solid $borderColor;
			padding: 15px 0 15px 30px;
			@include clearfix();
			@include anim(0.2s);
			&:hover{
				color: $themeColorLight;
				border-color: $themeColorLight;
				path{
					stroke: $themeColorLight;
				}
			}
			i{
				display: block;
				height: 24px;
				width: 20px;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				svg{
					display: block;
					height: 100%;
					width: 100%;
					fill: none;
				}
			}
			span{
				display: block;
				overflow: hidden;
				@include font(16px, 24px);
			}
		}
	}
}














.portfolio-section{
	.heading{
		text-align: center;
	}
}
.portfolio-nav{
	li {
		@include display(inline-block, top);
		width: 33.33%;
		padding: 15px;
		a{
			display: block;
			position: relative;
			height: 500px;
			overflow: hidden;
			border-radius: 5px;
			box-shadow: 0 5px 15px transparentize($blackColor, 0.8);
			&:hover{
				.portfolio-holder{
					min-height: 100%;
				}
			}
		}
		img{
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: top;
			@include anim(1s);
		}
		.portfolio-holder{
			display: block;
			background-color: transparentize($themeColorDark, 0.1);
			min-height: 50px;
			padding: 15px;
			@include anim(0.5s);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			h3{
				color: $whiteColor;
				@include font(20px, 24px);
				margin: 0 0 10px;
			}
			p{
				color: $whiteColor;
				@include font(16px, 22px);
			}
		}
	}
}

.howitwork-section{
	background-color: $whiteColor;
	padding: 75px 0;
}
.howitwork-nav{
	ul{
		margin: 0 -15px;
	}
	li{
		position: relative;
		@include display(inline-block, top);
		width: 33.33%;
		padding: 15px;
		.pattern-img{
			@include responsive-image();
			color: transparentize($themeColorDark, 0.2);
			background: #ffedf3;
			border-radius: 50%;
			height: 48px;
			width: 48px;
			padding: 12px;
			margin: 0 0 20px;
			svg{
				display: block;
				height: 100%;
				width: 100%;
				fill: none;
			}
		}
		h2{
			color: $baseFontColorDark2;
			@include font(20px, 30px);
			font-weight: 600;
			margin: 0 0 10px;
		}
		p{
			color: $baseFontColorDark1;
			@include font(16px, 24px);
		}
	}
}

.keyfeatures-section{
	background-color: #524bb8;
}
.keyfeatures-nav{
	padding: 50px 0;
	.keyfeatures-list{
		position: relative;
		@include display(inline-block, top);
		width: 25%;
		padding: 15px;
		.keyfeatures-holder{
			background-color: #4842a8;
			box-shadow: 0 0 20px transparentize($blackColor, 0.9);
			border-radius: 20px;
			min-height: 400px;
			padding: 20px;
		}
		.pattern-img{
			@include responsive-image();
			color: transparentize($whiteColor, 0.2);
			width: 80px;
			svg{
				display: block;
				height: 100%;
				width: 100%;
			}
		}
		.keyfeatures-name{
			display: block;
			color: $whiteColor;
			@include font(28px, 32px);
			margin: 30px 0 0;
		}
		.keyfeatures-paragraph{
			display: block;
			color: $whiteColor;
			@include font(20px, 28px);
			margin: 20px 0 0;
		}
	}
}
.popular-service-section{
	background: $whiteColor;
	padding: 50px 0;
	.more-services-btn-holder{
		text-align: right;
		padding: 20px 0;
		.more-services-btn{
			@include display(inline-block, top);
			color: $themeColorDark;
			span{
				@include display(inline-block, middle);
				@include font(14px, 20px);
			}
			svg{
				@include display(inline-block, middle);
				height: 20px;
				width: 14px;
				fill: none;
				margin: 0 0 0 5px;
			}
		}
	}
}

.popular-services-holder{
	ul{
		margin: 0 -10px;
		li{
			@include display(inline-block, top);
			width: 25%;
			padding: 10px;
		}
	}
	.popular-services-block{
		display: block;
		position: relative;
		overflow: hidden;
		background-color: $whiteColor;
		box-shadow: 0 0 20px transparentize($blackColor, 0.9);
		border-radius: 7px;
		padding: 0 0 60px;
		.popular-services-block-top{
			padding: 15px;
			img{
				display: block;
				height: 130px;
				width: 100%;
				overflow: hidden;
				border-radius: 10px;
				object-fit: cover;
			}
		}
		.popular-services-block-middle{
			overflow-x: hidden;
			overflow-y: auto;
			height: 140px;
			padding: 0 15px;
			h2{
				color: $baseFontColorDark2;
				@include font(16px, 24px);
				margin: 0 0 15px;
			}
			.rating-holder{
				i{
					@include display(inline-block, middle);
					height: 20px;
					width: 20px;
					svg{
						@include responsive-image();
					}
				}
				strong{
					@include display(inline-block, middle);
					@include font(14px, 20px);
					color: $baseFontColorDark2;
					margin: 0 0 0 6px;
				}
				span{
					@include display(inline-block, middle);
					@include font(14px, 20px);
					color: $baseFontColorDark1;
					margin: 0 0 0 6px;
				}
			}
			address{
				padding: 15px 0;
				svg{
					float: left;
					height: 20px;
					width: 20px;
					fill: none;
				}
				span{
					display: block;
					overflow: hidden;
					color: $baseFontColorDark1;
					@include font(14px, 20px);
					word-break: break-all;
					padding: 0 10px;
				}
			}
		}
		.popular-services-block-bottom{
			border-top: 1px solid $borderColor;
			background: $whiteColor;
			padding: 15px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.user-holder{
				float: left;
				width: calc(100% - 65px);
				img{
					float: left;
					height: 30px;
					width: 30px;
					border-radius: 50%;
					overflow: hidden;
					background: #c7b9da;
				}
				.name-text{
					display: block;
					overflow: hidden;
					color: $baseFontColorDark1;
					@include font(14px, 20px);
					word-break: break-all;
					padding: 5px 10px 0;
				}
			}
			.price-text{
				float: right;
				color: $baseFontColorDark2;
				@include font(20px, 28px);
				font-weight: 600;
				width: 65px;
				text-align: right;
			}
		}
	}
}



.search-holder{
	max-width: 600px;
	margin: 30px auto 0;
}


/*Calendar&Schedule page css end*/



























