#footer{
	background-color: $whiteColor;
	.footer-top{
		border-top: 1px solid $borderColor;
		padding: 60px 0;
		.footer-column{
			float: left;
			width: 17%;
			&.address-column{
				width: 49%;
				p{
					color: $baseFontColorDark1;
					max-width: 300px;
				}
			}
			h6{
				color: $baseFontColorDark2;
				@include font(16px, 24px);
				font-weight: 600;
				margin: 0 0 20px;
			}
			ul{
				a{
					position: relative;
					@include display(inline-block, top);
					color: $baseFontColorDark1;
					@include font(16px, 24px);
					@include anim(0.5s);
					padding: 0 0 6px;
					&:hover{
						color: $themeColorDark;
					}
				}
			}
		}
		.logo-dark{
			width: 105px;
			margin: 0 0 24px;
			a{
				display: block;
			}
			img{
				@include responsive-image();
			}
			svg{
				@include responsive-image();
			}
			.logo-fill{
				fill: $themeColorLight;
			}
			.dark-color-path{
				fill: $baseFontColorDark2;
			}
		}
	}
	.footer-bottom{
		color: $baseFontColorLight;
		@include font(16px, 20px);
		border-top: 1px solid $borderColor;
		padding: 20px;
		p{
			float: left;
			margin: 7px 0 0;
			a{
				color: $baseFontColorLight;
				@include anim(0.5s);
				&:hover{
					color: $themeColorDark;
				}
			}
		}
		ul{
			float: right;
			li{
				@include display(inline-block, top);
				margin: 0 5px;
				a{
					display: block;
					fill: $baseFontColorLight;
					line-height: 36px;
					height: 36px;
					width: 36px;
					text-align: center;
					@include anim(0.5s);
					padding: 7px;
					&:hover{
						fill: $themeColorDark;
						transform: scale(1.1);
					}
					svg{
						@include responsive-image();
					}
				}
			}
		}
	}
}