header{
//  background-color: transparentize($whiteColor, 0.1);
//  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  @include clearfix();
  .logo{
    float: left;
    width: 100px;
    a{
      display: block;
    }
    img{
      @include responsive-image();
    }
    svg{
      @include responsive-image();
    }
    .logo-fill{
      fill: $themeColorDark;
    }
  }

  nav{
    float: right;
    ul{
      @include clearfix();
    }
    li{
      float: left;
      margin: 0 5px;
    }
    a{
      display: block;
      color: $whiteColor;
      border-radius: 7px;
      border: 1px solid transparent;
      cursor: pointer;
      padding: 10px 30px;
      @include font(16px, 18px);
      @include anim(0.5s);
      &#signup-button{
        color: $whiteColor;
        border-color: $whiteColor;
        &:hover{
          color: $whiteColor;
          border-color: $themeColorLight;
          background: $themeColorLight;
        }
        &.active{
          color: $whiteColor;
          border-color: $themeColorDark;
          background: $themeColorDark;
          &:hover{
            color: $whiteColor;
            border-color: $themeColorLight;
            background: $themeColorLight;
          }
        }
      }
      &:hover{
        color: $whiteColor;
        border-color: $themeColorLight;
        background: $themeColorLight;
      }
      &.active{
        color: $whiteColor;
        border-color: $themeColorDark;
        background: $themeColorDark;
        &:hover{
          color: $whiteColor;
          border-color: $themeColorLight;
          background: $themeColorLight;
        }
      }
    }
  }
  .hamburger-react{
    float: right;
    display: none;
    margin: 3px 0 0;
  }
}