header{
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  @include clearfix();
  @include anim(0.5s);
  &.statusActive{
    background-color: transparentize($blackColor, 0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
  }
  .logo{
    float: left;
    width: 100px;
    a{
      display: block;
    }
    img{
      @include responsive-image();
    }
    svg{
      @include responsive-image();
    }
    .logo-fill{
      fill: $themeColorDark;
    }
  }
  .hamburger-react{
    float: right;
    display: none;
  }
  .desktop-menu{
    nav{
      float: right;
      ul{
        @include clearfix();
      }
      li{
        float: left;
      }
      a{
        display: block;
        color: $whiteColor;
        @include font(16px, 18px);
        border-radius: 7px;
        border: 1px solid transparent;
        cursor: pointer;
        padding: 10px 30px;
        @include anim(0.5s);
        &#signup-button{
          color: $whiteColor;
          border-color: $whiteColor;
          &:hover{
            color: $whiteColor;
            border-color: $themeColorLight;
            background: $themeColorLight;
          }
          &.active{
            color: $whiteColor;
            border-color: $themeColorDark;
            background: $themeColorDark;
            &:hover{
              color: $whiteColor;
              border-color: $themeColorLight;
              background: $themeColorLight;
            }
          }
        }
        &:hover{
          color: $whiteColor;
          border-color: $themeColorLight;
          background: $themeColorLight;
        }
        &.active{
          color: $whiteColor;
          border-color: $themeColorDark;
          background: $themeColorDark;
          &:hover{
            color: $whiteColor;
            border-color: $themeColorLight;
            background: $themeColorLight;
          }
        }
      }
      summary{
        display: block;
        color: $whiteColor;
        @include font(16px, 18px);
        border-radius: 7px;
        border: 1px solid transparent;
        cursor: pointer;
        padding: 10px 20px;
        @include anim(0.5s);
        &:hover{
          color: $whiteColor;
          border-color: $themeColorLight;
          background: $themeColorLight;
        }
        &.active{
          color: $whiteColor;
          border-color: $themeColorDark;
          background: $themeColorDark;
          &:hover{
            color: $whiteColor;
            border-color: $themeColorLight;
            background: $themeColorLight;
          }
        }
      }
    }
  }
  .mobile-menu{
    display: none;
    background-color: $whiteColor;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 89px;
    right: 0;
    nav{
      overflow-y: auto;
      height: 80vh;
    }
    details{
      &[open]{
        summary{
          color: $themeColorDark;
          &:after{
            content: '▼';
          }
        }
      }
      summary{
        display: block;
        color: $baseFontColorDark2;
        @include font(16px, 24px);
        padding: 10px 20px;
        &:after{
          content: "►";
        }
      }
    }
  }
  .sub-menu-holder{
    padding: 0 20px;
    a{
      display: block;
      color: $baseFontColorLight;
      @include font(16px, 24px);
      padding: 10px 30px;
    }
  }
}