header{
  background-color: transparentize($whiteColor, 0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  @include clearfix();
  .logo{
    float: left;
    width: 220px;
    a{
      display: block;
    }
    img{
      @include responsive-image();
    }
    svg{
      @include responsive-image();
    }
    .logo-fill{
      fill: $themeColorLight;
    }
  }

  nav{
    float: right;
    margin: 13px 0 0;
    ul{
      @include clearfix();
    }
    li{
      float: left;
      margin: 0 5px;
    }
    a{
      display: block;
      color: $themeColorLight;
      border-radius: 4px;
      cursor: pointer;
      padding: 8px 30px;
      @include font($fs2, $lh2);
      @include anim(0.5s);
      &:hover{
        color: $whiteColor;
        background-color: $themeColorDark;
      }
      &.active{
        color: $whiteColor;
        background-color: $themeColorLight;
        &:hover{
          background-color: $themeColorDark;
        }
      }
    }
  }
  .hamburger-react{
    float: right;
    display: none;
    margin: 3px 0 0;
  }
}