@include wide-desktop{
	.holder{
		max-width: 1300px;
	}
}


@include medium-desktop{
	.holder{
		max-width: 1100px;
	}
}


@include small-desktop{
	.holder{
		max-width: 950px;
	}
}


@include tablet{
	.holder{
		max-width: 700px;
	}
}


@include mobile{
	.holder{
		max-width: 700px;
	}
}






